<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net461" />
  <package id="PlatformSpellCheck" version="1.0.0" targetFramework="net461" />
  <package id="Spell.Check" version="4.0.3.2" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.1.0.50" targetFramework="net461" />
  <package id="Syncfusion.SfSpellChecker.WPF" version="17.1.0.50" targetFramework="net461" />
  <package id="Syncfusion.SpellChecker.Base" version="17.1.0.50" targetFramework="net461" />
</packages>